body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #30c9a3;
}

.perfil {
    background-color: rgb(150, 232, 255);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 30px;
    text-align: center;
}

.perfil img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.contacto {
    margin-top: 20px;
    background-color:  rgb(168, 230, 248);
    padding: 15px;
    border-radius: 5px;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #666;
}